:host {
  display: block;
  background: #0000004d;
  padding: 4px;
  border-radius: 4px;
  color: #fff;
}

.i18n-tooltip {
  display: flex;
  align-items: center;

  &__text {
    padding: 0 5px;
   em {
     max-width: 150px;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     text-overflow: ellipsis;
     overflow: hidden;
     -webkit-line-clamp: 1;
   }
  }
  &__action {
    display: flex;
    align-items: center;

    button {
      font-size: 18px;
    }
  }
}
//overflow: hidden;
//text-overflow: ellipsis;
//display: -webkit-box;
//-webkit-box-orient: vertical;
//
//&.max-line-1 {
//  -webkit-line-clamp: 1;
//}
