:host,
.i18n {
  display: inherit;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background: inherit;
}

.i18n {
  position: relative;

  &-tooltip {
    position: absolute;
  }
}
