.modal {
  width: 768px;
  //height: 500px;
  padding: 20px;
  background: #ffffff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &-backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      margin: 0;
    }
    a {
      cursor: pointer;
      font-weight: 700;
      color: #ff1000;
      font-size: 45px;
    }
  }

  &-content {
    padding: 10px 0;
    height: 100%;
    overflow: auto;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;

    > div {
      margin: 20px 0;
    }

    .language,
    .translation {
      display: flex;
      align-items: center;

      > div {
        margin: 0 10px;
      }
    }
  }

  &-footer {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
      margin: 0 5px;
    }
  }
}
