<section>
  <header>
    <h2>Localization</h2>
    <select [disabled]="!activeLanguageId" [(ngModel)]="activeLanguageId" (ngModelChange)="setActiveLang()">
      <option *ngFor="let lang of languages" [value]="lang.id">{{ lang.name }}</option>
    </select>
  </header>
  <main>
    <i18n-translate key="Hello"></i18n-translate>
    <i18n-translate key="World"></i18n-translate>
    <i18n-translate key="!!!"></i18n-translate>
    <i18n-translate key="YAY"></i18n-translate>
  </main>
</section>
