section {
  padding: 50px;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main {
    margin-top: 20px;
    display: flex;

    > * {
      margin-right: 10px;
    }
  }
}
